@import "./partials/navBar",
"./partials/item",
"./partials/itemDetailContainer",
"./partials/notFound",
"./partials/cart",
"./partials/createOrder";

.centerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}